.material-symbols-outlined{
    font-size: 38px;
  }

.responsive-menu{
  font-size: 30px;
  color:"#f0f0f0";
}

.menu-item{
  font-size: 18px;
  color:"#f0f0f0";
}

.topbar-icon{
  font-size: 30px;
  color:"#f0f0f0";
}